## Data Representation - Web Scraping

In [1]:
# (1) Test that we can recieve a web page form the web and (s) Use Beautiful Soup to format output

import requests
from bs4 import BeautifulSoup
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
soup1 = BeautifulSoup(page.content, 'html.parser') ## reads web page and converts to a DOM tree
print("--------------------")
print(page.content) 
print(soup1.prettify())

--------------------
<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [2]:
# (3) Read from File: Lab2.html (aka car viewer)

with open("lab1.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')

print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   View Cars
  </title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
  <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
 </head>
 <div class="header">
  <h1>
   Cars
  </h1>
 </div>
 <h1>
  All Cars
 </h1>
 <div>
  <button>
   Create
  </button>
 </div>
 <div>
  <table class="table">
   <tr>
    <th>
     reg
    </th>
    <th>
     make
    </th>
    <th>
     model
    </th>
    <th>
     price
    </th>
    <th>
     Update
    </th>
    <th>
     Delete
    </th>
   </tr>
   <tr>
    <td>
     191-M0-123
    </td>
    <td>
     Ford
    </td>
    <td>
     Mondeo
    </td>
    <td>
     25,000
    </td>
    <td>
     <button>
      update
     </button>
    </td>
    <td>
     <button>
      delete
     </button>
    </td>
   </tr>
   <tr>
    <td>
     12-D-123
    </td>
    <td>
     Fiat
    </td>
    <td>
     Punto
    </td>
    <td>
     4,000
    </td>
    <td>
     <button>
      update
     </button>
    </td>
    <td>
     <button>
      delete
     </button>
    </td>
   </tr>
   <tr>
    <td>
     08-G-123
    </td>
    <td>
     Nissan
    </td>
    <td>
     Almera
    </td>
    <td>
     500
    </td>
    <td>
     <button>
      update
     </button>
    </td>
    <td>
     <button>
      delete
     </button>
    </td>
   </tr>
  </table>
 </div>
 <h2>
  <span>
   Create a
  </span>
  <span>
   Update this
  </span>
  Car
 </h2>
 <div>
  <form>
   <div class="form-group">
    Reg:
    <input class="form-control" name="reg" type="text"/>
    <br/>
    Make:
    <select class="form-control" name="make">
     <option selected="selected" value="Ford">
      Ford
     </option>
     <option value="Fiat">
      Fiat
     </option>
     <option value="Nissan">
      Nissan
     </option>
    </select>
    <br/>
    Model
    <input class="form-control" name="model" type="text"/>
    <br/>
    Price:
    <input class="form-control" name="price" type="text"/>
    <br/>
   </div>
  </form>
 </div>
 <span>
  <button>
   Create
  </button>
 </span>
 <span>
  <button>
   Update
  </button>
 </span>
</html>

In [3]:
# 4 Extract the first <tr> i.e the first table row from the file

print(soup.tr)

<tr>
<th>reg</th>
<th>make</th>
<th>model</th>
<th>price</th>
<th>Update</th>
<th>Delete</th>
</tr>

In [4]:
# But .. this is not what we really want, so ...
# modify the program to get all the table rows (<tr>)

rows = soup.findAll("tr")
for row in rows:
    print("------")
    print(row)

------
<tr>
<th>reg</th>
<th>make</th>
<th>model</th>
<th>price</th>
<th>Update</th>
<th>Delete</th>
</tr>
------
<tr>
<td>191-M0-123</td>
<td>Ford</td>
<td>Mondeo</td>
<td>25,000</td>
<td><button>update</button></td>
<td><button>delete</button></td>
</tr>
------
<tr>
<td>12-D-123</td>
<td>Fiat</td>
<td>Punto</td>
<td>4,000</td>
<td><button>update</button></td>
<td><button>delete</button></td>
</tr>
------
<tr>
<td>08-G-123</td>
<td>Nissan</td>
<td>Almera</td>
<td>500</td>
<td><button>update</button></td>
<td><button>delete</button></td>
</tr>

In [ ]:
# Thats better!

In [5]:
# 6: Now, for each row, get the contents of the <td> (table data)

for row in rows:
    cols = row.findAll("td")
    for col in cols:
        print(col.text)

191-M0-123
Ford
Mondeo
25,000
update
delete
12-D-123
Fiat
Punto
4,000
update
delete
08-G-123
Nissan
Almera
500
update
delete

In [6]:
# 7. Modify this so that the text in the columns are stored in a list

dataset = []
dataList = []

for row in rows:
    cols = row.findAll("td")
    for col in cols:
        # print(col)
        dataList.append(col.text)
    dataset.append(dataList)

for line in dataset:
    print(line)

['191-M0-123', 'Ford', 'Mondeo', '25,000', 'update', 'delete', '12-D-123', 'Fiat', 'Punto', '4,000', 'update', 'delete', '08-G-123', 'Nissan', 'Almera', '500', 'update', 'delete']
['191-M0-123', 'Ford', 'Mondeo', '25,000', 'update', 'delete', '12-D-123', 'Fiat', 'Punto', '4,000', 'update', 'delete', '08-G-123', 'Nissan', 'Almera', '500', 'update', 'delete']
['191-M0-123', 'Ford', 'Mondeo', '25,000', 'update', 'delete', '12-D-123', 'Fiat', 'Punto', '4,000', 'update', 'delete', '08-G-123', 'Nissan', 'Almera', '500', 'update', 'delete']
['191-M0-123', 'Ford', 'Mondeo', '25,000', 'update', 'delete', '12-D-123', 'Fiat', 'Punto', '4,000', 'update', 'delete', '08-G-123', 'Nissan', 'Almera', '500', 'update', 'delete']

In [34]:
# 8. write to CSV

import csv

car_file = open('car_file.csv', mode = 'w')
car_writer = csv.writer(car_file, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_MINIMAL)

for row in dataset:
    car_writer.writerow(row)
car_file.close()

### Bringing it all together: create single program, debug, save as .py file and add to git hub repository

In [43]:
# Read data from lab2.html and store data in csv

# do not add update or delete

# Import libraries
# Read data from lab2.html (aka carViewer) and store data in csv

# do not add update or delete

# Import libraries

import requests
from bs4 import BeautifulSoup
import csv

# Connect to lab1.html
with open("lab1.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')

# open csv file

car_file = open('car_file.csv', mode = 'w')
car_writer = csv.writer(car_file, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_MINIMAL)

# scrape data from table rows
rows = soup.findAll("tr")

for row in rows:
    cols = row.findAll("td")

dataList = []
    # need to modify following so that update and delete not added 
    for col in cols:
        dataList.append(col.text)
    car_writer.writerow(dataList)

car_file.close()

In [44]:

list = []

for i in range (0,4):
    list.append(cols[i].text)
    
print(list)

['08-G-123', 'Nissan', 'Almera', '500']

In [45]:
with open("car_file.csv") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

        
        
car_file.close()

[]
['191-M0-123', 'Ford', 'Mondeo', '25,000', 'update', 'delete']
['12-D-123', 'Fiat', 'Punto', '4,000', 'update', 'delete']
['08-G-123', 'Nissan', 'Almera', '500', 'update', 'delete']

In [ ]:
# Note there is a blank first row